/* nav */
.active,
.btn:hover {
  color: #333333;
  /* font-weight: bold; */
}
.btn {
  width: auto;
}
/* end of nav */

/* home page */
#homePageDivider {
  border: 1px solid black;
}
/* end of home page */

/* login form */
#loginForm {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}
/* end of login form */

/* register form */
#registerForm {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}
/* end of register form */

/* store */
.store {
  display: flex;
  font-size: 0;
  flex-wrap: wrap;
  margin: -10px 0 0 -10px;
}
.product {
  display: inline-block;
  margin: 10px 0 0 10px;
  flex-grow: 1;
  width: calc(100% * (1 / 4) - 10px - 1px);
}
.prod-quantity {
  margin-left: 1em;
  width: 2.5em;
  text-align: center;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  opacity: 1;
}
/* end of store */