/* nav */
.active,
.btn:hover {
  color: #333333;
  font-weight: bold;
}
/* end of nav */

/* home page */
#homePageDivider {
  border: 1px solid black;
}
/* end of home page */

/* login form */
#loginForm {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}
/* end of login form */

/* register form */
#registerForm {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}
/* end of register form */
.store {
  display: flex;
  font-size: 0;
  flex-wrap: wrap;
  margin: -10px 0 0 -10px;
}
.product {
  display: inline-block;
  margin: 10px 0 0 10px;
  flex-grow: 1;
  width: calc(100% * (1 / 4) - 10px - 1px);
}
.navbar-nav li {
  width: 4em;
}
